services:
  frontend:
    build: ./frontend
    env_file:
      - ../.env
    networks:
      - public

  backend:
    build: ./backend
    env_file:
      - ../.env
    depends_on:
      - db
    networks:
      - public

  db:
    image: postgres:15-alpine
    env_file:
      - ../.env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - public

volumes:
  db_data:

networks:
  public:
    external: true
