services:
  frontend:
    build: ./frontend
    image: mjcqln/devblog-frontend:latest
    restart: unless-stopped
    env_file:
      - ../.env
    networks:
      - public
  backend:
    build: ./backend
    image: mjcqln/devblog-backend:latest
    restart: unless-stopped
    env_file:
      - ../.env
    depends_on:
      - db
    networks:
      - public
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    env_file:
      - ../.env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - public
  adminer:
    image: adminer
    restart: always
    ports:
      - 28080:8080
    networks:
      - public
volumes:
  db_data: null
networks:
  public:
    external: true
