services:
  frontend:
    build: ./frontend
    ports:
      - "${FRONTEND_PORT}"
    env_file:
      - .env
    networks:
      - public

  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - public

  db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:

networks:
  public:
    external: true
