services:
  frontend:
    build: ./frontend
    ports:
      - "${FRONTEND_PORT}:5173"
    env_file:
      - .env

  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
