services:
  frontend:
    build: ../frontend
    container_name: frontend
    expose:
      - "5173"
    networks:
      - public

  backend:
    build: ../backend
    container_name: backend
    expose:
      - "8000"
    env_file:
      - ../.env
    depends_on:
      - db
    networks:
      - public

  db:
    image: postgres:15-alpine
    container_name: db
    env_file:
      - ../.env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - public

  caddy:
    image: caddy:2.10
    container_name: caddy
    ports:
      - "80:80"
    volumes:
      - ./config/caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./data/caddy/data:/data
      - ./data/caddy/config:/config
    depends_on:
      - frontend
      - backend
    networks:
      - public
    restart: unless-stopped

volumes:
  db_data:

networks:
  public:
    driver: bridge
